.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  margin-top: 72px;
  min-height: calc(90vh - 72px);
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .main {
    padding: 2rem 0rem;
  }
  .main h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
