:root {
  --background-color: #fff;
  --gradient-background-color: linear-gradient(
    135deg,
    #e2e2e2 0%,
    #afd0f8 100%
  );
  --text-color: #121212;
  --text-color-light: #333;
  --temperature-color-hot: #e53e3e;
  --temperature-color-cold: #007bff;
  --temperature-color-normal: #007618;
  --accent-color: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --wide-shadow-color: rgba(0, 0, 0, 0.2);
  --ultra-wide-shadow-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="light"] {
  --background-color: #fff;
  --gradient-background-color: linear-gradient(
    135deg,
    #e2e2e2 0%,
    #afd0f8 100%
  );
  --text-color: #121416d8;
  --text-color-light: #333;
  --temperature-color-hot: #e53e3e;
  --temperature-color-cold: #007bff;
  --temperature-color-normal: #007618;
  --accent-color: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --wide-shadow-color: rgba(0, 0, 0, 0.2);
  --ultra-wide-shadow-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --background-color: #121212;
  --gradient-background-color: linear-gradient(
    135deg,
    #1a1a1a 0%,
    #2d2d2d 100%
  );
  --text-color: #fff;
  --text-color-light: #d2d2d2;
  --temperature-color-hot: #e53e3e;
  --temperature-color-cold: #007bff;
  --temperature-color-normal: #007618;
  --accent-color: #007bff;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --wide-shadow-color: rgba(255, 255, 255, 0.2);
  --ultra-wide-shadow-color: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.root-body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gradient-background-color);
  color: var(--text-color);
}

.icon {
  width: 2em;
  height: 2em;
  fill: currentColor;
}
