.weatherChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.currentWeatherHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.currentWeatherTitle h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.currentWeatherTitle p {
  font-size: 1rem;
  color: #666;
}

.currentWeatherDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.currentWeatherDetail h3 {
  font-size: 4rem;
  font-weight: 700;
  padding-right: 1rem;
  border-right: 2px solid #1f1f1f;
  color: #e53e3e;
}

.currentWeatherDetail div {
  padding-left: 1rem;
  line-height: 1.75;
}

.currentWeatherDetailDescription {
  color: #666;
}

.currentWeatherDetailFeelsLike {
  font-weight: 500;
}

.currentWeatherDetail svg {
  margin-left: 1rem;
  width: 75px;
  height: 75px;
}

.currentWeatherExtras {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border: 2px solid #1f1f1f;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.currentWeatherExtras div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currentWeatherExtras svg {
  margin-right: 1rem;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.forecastDay {
  flex: 1;
  min-width: 180px;
  max-width: 220px;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.forecastDay:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.forecastDay p {
  margin: 0.5rem 0;
}

.forecastDay .date {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.forecastDay .weatherIcon {
  padding: 0.5rem;
}

.forecastDay .temperature {
  font-size: 1.25rem;
  font-weight: bold;
  color: #e53e3e;
}

.forecastDayMobile {
  display: none;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 90%;
}

.forecastDayMobile .cardLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.forecastDayMobile .weatherIconMobile {
  text-align: center;
}

.forecastDayMobile .dateMainMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecastDayMobile .dateMainMobile .date {
  font-weight: bold;
  color: #333;
}

.forecastDayMobile .temperatureMobile {
  text-align: right;
  font-weight: bold;
  color: #e53e3e;
}

@media (max-width: 768px) {
  .weatherChart {
    padding: 1rem;
  }

  .currentWeather {
    flex-direction: column;
    align-items: center;
  }

  .currentWeatherHeader {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .currentWeatherDetail {
    margin-bottom: 0;
  }

  .currentWeatherExtras {
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
  }

  .currentWeatherExtras div {
    width: 100%;
  }

  .currentWeatherExtras svg {
    width: 25px;
    height: 25px;
  }

  .forecast {
    margin-top: 0.5rem;
  }

  .forecastDay {
    display: none;
  }

  .forecastDayMobile {
    display: flex;
  }
}
