.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 72px;
  height: calc(100vh - 72px);
  padding: 0 2rem;
}

.title {
  font-size: 6rem;
  font-weight: bold;
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.125rem;
}

.backHomeButton {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
  border: solid 2px var(--text-color);
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease;
  border-radius: 0.375rem;
  font-weight: bold;
}

.backHomeButton:hover {
  background-color: color-mix(in srgb, var(--text-color), #0000 90%);
}

.backHomeButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--text-color-light);
}
